
body {
    background: url('../image/bg.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-weight: bolder;
    position: relative;
    font-size: 10em;
    background: url('../image/bg.jpg');
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    text-shadow: -5px 5px 10px rgb(255, 253, 253),
                -10px 10px 10px #000,
                -15px 15px 20px #000,
                -20px 20px 30px #000,
                -25px 25px 40px #000,
                -20px 30px 50px #000;
}



