:root {
    --bg-orange: orange;
    --text-color: #fff;
    background-image: url('sun.jpg');
    background-size: cover;
    font-family: 'Roboto';
}
.container {
    width: 700px;
    margin: 25px auto;
    margin-top: 200px;
    border-radius: 7px;
    box-shadow: 7px 7px 7px rgb(194, 183, 183);
}
h1 {
    text-align: center;
    color: var(--text-color);
    font-weight: bolder;
    font-size: 200px;
    cursor: pointer;
    background-image: url('sunrise.jpg');
    -webkit-background-clip: text;
    color: transparent;
}
/* .btn {
    all: unset;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: var(--bg-orange);
    color: var(--text-color);
    box-shadow: 3px 3px 3px rgb(194, 183, 183);
} */